h1{
  font-family:"Spicy Rice", cursive;
  color:red;
}
img {width: 700px; }
p{ font-family:"Spicy Rice", cursive;  }

h2{font-family:"Spicy Rice", cursive; 
color:white;}
body{ background-color:hotpink;}
h3{font-family:"spicy rice", cursive; color:red;}